<footer>
  <div class="copyright">
	  <p>© 2020 - METTRE</p>
  </div>
  <div class="sns">
    <a href="https://youtube.com/channel/UCjBdM---1iLqJMuDUWdSWxw" class="youtube"><i class="fa fa-youtube fa-fw" aria-hidden="true"></i></a>
	  <a href="#" class="fb"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a>
	  <a href="https://twitter.com/kaito_yamaki" class="tw"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
	  <a href="https://www.instagram.com/kikng0526" class="insta"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></a>
  </div>
</footer>