<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WearMap</title>
</head>
<body>
<%# ヘッダー %>
  <%= render "shared/header"%>
<%# ヘッダー %> 
<%# フッター %>
  <%= render "shared/footer"%>
<%# フッター %>
</body>
</html>