<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WearMap</title>
</head>
<body>
<%# ヘッダー %>
  <%= render "shared/header"%>
<%# ヘッダー %> 

<main>
<p id="tab">
   <a href="#tabpage1">タブ1</a>
   <a href="#tabpage2">タブ2</a>
   <a href="#tabpage3">タブ3</a>
</p>
  <div id="tabbody">
   <div id="tabpage1">こんにちは
    <h1>あああああああああああああああああああああああ</h1>
   </div>
   <div id="tabpage2">おやすみ
    <h1>いいいいいいいいいいいいいいいいいいいいいいい</h1>
   </div>
   <div id="tabpage3">おはよう
    <h1>ううううううううううううううううううううううう</h1>
   </div>
  </div>
</main>
<%# フッター %>
  <%= render "shared/footer"%>
<%# フッター %>
</body>
</html>