body {
  min-height: 100vh;
  margin: 0;
}

main {
  padding: 120px 0;
}

#tab {
  padding-bottom: 50px;
}

#tab a {
  display: inline-block;
  color: black;                     
  text-decoration: none;
  font-weight: bold;               
  position: relative;               
}

#tab a:hover{
  text-decoration: underline;
}

#tabbody {
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  background-color: whitesmoke;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
}

#tabbody div {
  margin-top: -1px;        /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
  padding: 1em;            /* 内側の余白量 */
 
  position: relative;      /* z-indexを調整するために必要 */
  z-index: 0;              /* 重なり順序を「最も背面」にするため */
}


